<footer class="main-footer">
    <div>
        <h2>Localização</h2><br>
        <address>Cidade- Eldorado<br>CEP- 79970-000<br>Rua- Santa Terezinha n°507, centro</address>
    </div>

    <div>
        <h2>Siga-nos</h2><br>
        <a href="https://www.instagram.com/loja_angeel/" target="_blank" rel="noreferrer noopener"><i
                class="fab fa-instagram"></i> Loja Angel</a>
    </div>

    <div>
        <h2>Entre em contato</h2><br>
        <a href="https://wa.me/5567996268679" target="_blank" rel="noreferrer noopener"><i class="fab fa-whatsapp"></i>
            Whatsapp</a><br>
        <a href="https://www.instagram.com/direct/t/340282366841710300949128398897259383253" target="_blank"
            rel="noreferrer noopener"><i class="fab fa-instagram"></i>
            Direct</a>
    </div>
</footer>