<footer class="main-footer">
    <div class="main-logo-text">
        <h2>Localization</h2><br>
        <address>City- Eldorado<br>CEP- 79970-000<br>Street- Santa Terezinha n°507</address>
    </div>

    <div class="main-logo-text">
        <h2>Follow us</h2><br>
        <a href="https://www.instagram.com/loja_angeel/" target="_blank" rel="noreferrer noopener"><i
                class="fab fa-instagram"></i> Loja Angel</a>
    </div>

    <div class="main-logo-text">
        <h2>Contact</h2><br>
        <a href="https://wa.me/5567996268679" target="_blank" rel="noreferrer noopener"><i class="fab fa-whatsapp"></i>
            Whatsapp</a><br>
        <a href="https://www.instagram.com/direct/t/340282366841710300949128398897259383253" target="_blank"
            rel="noreferrer noopener"><i class="fab fa-instagram"></i>
            Direct</a>
    </div>
</footer>