<footer class="main-footer">
    <div>
        <h2>Localização</h2><br>
        <address>Cidade- Eldorado<br>CEP- 79970-000<br>Rua- Santa Terezinha n°507, centro</address><br>
        <a href="https://www.google.com.br/maps/place/R.+Santa+Teresinha,+499+-+Centro,+Eldorado+-+MS,+79970-000/@-23.7900533,-54.2819831,21z/data=!4m5!3m4!1s0x948b4f9327a6e98b:0xe0512cc7546de66f!8m2!3d-23.7901081!4d-54.2819963?hl=pt-BR&authuser=0" target="_blank" rel="noreferrer noopener"><i
        class="fas fa-store "></i> Ver no mapa</a>
    </div>

    <div>
        <h2>Siga-nos</h2><br>
        <a href="https://www.instagram.com/loja_angeel/" target="_blank" rel="noreferrer noopener"><i
                class="fab fa-instagram"></i> Loja Angel</a>
    </div>

    <div>
        <h2>Entre em contato</h2><br>
        <a href="https://wa.me/5567996268679" target="_blank" rel="noreferrer noopener"><i class="fab fa-whatsapp"></i>
            Whatsapp</a><br>
        <a href="https://www.instagram.com/direct/t/340282366841710300949128398897259383253" target="_blank"
            rel="noreferrer noopener"><i class="fab fa-instagram"></i>
            Direct</a>
    </div>
</footer>