<div class="recipe recipe-list-item">
    {% if clothe.cover.url is not Null %}
        <div class="recipe-cover">
            <a href="{% url 'angel:piece' clothe.id %}">
                <img src="{{ clothe.cover.url }}" alt="" />
            </a>
        </div>
    {% endif %}
    <div class="recipe-title-container">
        <h2 class="recipe-title">
            <a href="{% url 'angel:piece' clothe.id %}">
                {{ clothe.title }}
            </a>
        </h2>
        <div class="recipe-author-item">
            <span class="recipe-author-item">
                <i class="fas fa-calendar-alt"></i>
                {{clothe.created_at|date:"d/m/Y" }} às {{ clothe.created_at|date:"H:i" }}
            </span>

            {% if clothe.category is not None %}
                <span class="recipe-author-item">
                    <a href="{% url 'angel:category' clothe.category.id %}">
                        <i class="fas fa-socks"></i>
                        <span>{{ clothe.category.name }}</span>
                    </a>
                </span>
            {% endif %}
        </div>
    </div>
    
    <div class="recipe-value-container">
        <div class="recipe-servings">
            <h3 class="recipe-meta-title">
                <i class="fas fa-money-bill"></i> Valores
            </h3>
                <div class="recipe-meta-text">A vista: R${{ clothe.value }} ou</div>
                <div class="recipe-meta-text">Parcelado: {{ clothe.qty_parcel }}X de R${{ clothe.value_parcel }}</div>
        </div>
    </div>   

    <div class="recipe-meta-container">
        <div class="recipe-meta recipe-servings">
            <h3 class="recipe-meta-title">
                <i class="fas fa-ruler"></i> Tamanhos disponíveis
            </h3>
            <div class="recipe-meta-text">{{ clothe.length }}</div> 
        </div>
    </div>   
    {% if is_detail_page is not True %}
        <footer class="recipe-footer">
            <a class="recipe-read-more button button-dark button-full-width" href="{% url 'angel:piece' clothe.id %}">
                <i class="fas fa-eye"></i>
                <span>Veja mais...</span>
            </a>
        </footer>
    {% endif %}
    {% if is_detail_page is True %}
        <div class="recipe-content preparation-steps">
            <p>
                {{ clothe.description }} |
                {{ clothe.gender }}
            </p><br>
            <p>
                Se interessou?! Entre em contato!
            </p>
        </div>
        <a class="back" href="{% url 'angel:home' %}"><i class="fas fa-backward"></i> Voltar</a>
    {% endif %}

</div>